<?xml version="1.0"?>
<model>
  <name>arv</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Balazs Tuba</name>
    <email>balazsph@outlook.hu</email>
  </author>

  <description>
  Ackermann-steering car model equipped with IMU and LiDAR sensors.
  </description>
</model>