<?xml version="1.0"?>
<robot name="arc" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="IMU" params="base_link">

        <!-- Imu is fixed to the base link -->
        <joint name="imu_joint" type="fixed">
            <origin xyz="${imu_origin_xyz}" rpy="${imu_origin_rpy}"/>
            <parent link="chassis"/>
            <child link="imu_link"/>
        </joint>

        <!-- Imu link -->
        <link name="imu_link">
            <inertial>
                <mass value="${imu_mass}"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <xacro:box_inertia m="${imu_mass}" x="${imu_x}" y="${imu_x}" z="${imu_x}"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <box size="${imu_size}"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <box size="${imu_size}"/>
                </geometry>
            </collision>
        </link>

        <gazebo reference="imu_link">
            <sensor name="imu_sensor" type="imu">
                <always_on>1</always_on>
                <update_rate>${imu_update_rate}</update_rate>
                <ignition_frame_id>imu_link</ignition_frame_id>
                <visualize>true</visualize>
                <topic>${imu_topic}</topic>
            </sensor>
        </gazebo>

        <!-- <gazebo reference="imu_joint">
            <preserveFixedJoint>true</preserveFixedJoint>
        </gazebo> -->

    </xacro:macro> 
</robot> 
