<?xml version="1.0"?>
<robot name="arc" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="LIDAR" params="base_link">

        <!-- LIDAR is fixed to base link -->
        <joint name="lidar_joint" type="fixed">
            <origin xyz="${lidar_origin_xyz}" rpy="${lidar_origin_rpy}"/>
            <parent link="chassis"/>
            <child link="lidar_link"/>
        </joint>

        <!-- LIDAR link -->
        <link name="lidar_link">
            <inertial>
                <mass value="${lidar_mass}"/>
                <origin xyz="0 0 0"/>
                <xacro:cylinder_inertia m="${lidar_mass}" r="${lidar_radius}" h="${lidar_height}"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <cylinder radius="${lidar_radius}" length="${lidar_height}"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <cylinder radius="${lidar_radius}" length="${lidar_height}"/>
                </geometry>
            </collision>
        </link>

        <gazebo reference="lidar_link">
            <sensor name='gpu_lidar' type='gpu_lidar'>
                <topic>${lidar_topic}</topic>
                <update_rate>${lidar_update_rate}</update_rate>
                <alwaysOn>1</alwaysOn>
                <visualize>true</visualize>
                <ignition_frame_id>lidar_link</ignition_frame_id>
                <lidar>
                    <scan>
                        <horizontal>
                            <samples>640</samples>
                            <resolution>1</resolution>
                            <min_angle>-1.396263</min_angle>
                            <max_angle>1.396263</max_angle>
                        </horizontal>
                        <vertical>
                        <samples>1</samples>
                        <resolution>1</resolution>
                        <min_angle>0.0</min_angle>
                        <max_angle>0.0</max_angle>
                        </vertical>
                    </scan>
                    <range>
                        <min>0.08</min>
                        <max>10</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.001</stddev>
                    </noise>
                </lidar>
            </sensor>
        </gazebo>

        <!-- <gazebo reference="lidar_joint">
            <preserveFixedJoint>true</preserveFixedJoint>
        </gazebo> -->

    </xacro:macro>
</robot>