<?xml version="1.0"?>
<robot name="arc" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="LIDAR" params="base_link">

        <!-- LIDAR is fixed to base link -->
        <joint name="lidar_joint" type="fixed">
            <origin xyz="${lidar_origin_xyz}" rpy="${lidar_origin_rpy}"/>
            <parent link="${base_link}"/>
            <child link="lidar_link"/>
        </joint>

        <!-- LIDAR link -->
        <link name="lidar_link">
            <inertial>
                <mass value="${lidar_mass}"/>
                <origin xyz="0 0 0"/>
                <xacro:cylinder_inertia m="${lidar_mass}" r="${lidar_radius}" h="${lidar_height}"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <cylinder radius="${lidar_radius}" length="${lidar_height}"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <cylinder radius="${lidar_radius}" length="${lidar_height}"/>
                </geometry>
            </collision>
        </link>

    </xacro:macro>
</robot>