<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arv">

    <xacro:property name="base_link_name" value="base_link"/>

    <xacro:property name="chassisHeight" value="0.197"/>
    <xacro:property name="chassisLength" value="0.605"/>
    <xacro:property name="chassisWidth" value="0.410"/>
    <xacro:property name="chassisMass" value="40"/>

    <xacro:property name="hingeMass" value="0.2"/>
    <xacro:property name="hingeRadius" value="0.06"/>
    <xacro:property name="hingeLength" value="0.1"/>
    <xacro:property name="hingeX" value="0.2159"/>

    <xacro:property name="wheelWidth" value="0.08"/>
    <xacro:property name="wheelRadius" value="0.15"/>
    <xacro:property name="backWheelX" value="-0.2159"/>
    <xacro:property name="wheelClearance" value="0.1"/>
    <xacro:property name="wheelHeight" value="0.08"/>
    <xacro:property name="wheelMass" value="5"/>

</robot>
