<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arv">

    <!-- Arguments -->
    <xacro:arg name="robot_namespace"           default=""/>
    <xacro:arg name="description_name_xacro"    default="robot_description"/>

    <xacro:property name="lidar" value="true"/>
    <!-- Includes -->
    <xacro:include filename="$(find arv_description)/urdf/arv_properties.urdf.xacro" />
    <xacro:include filename="$(find arv_description)/urdf/arv.urdf.xacro"/>

    <xacro:arv />
    
    <!--
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <robotNamespace>$(arg robot_namespace)</robotNamespace>
            <robotParam>$(arg description_name_xacro)</robotParam>
        </plugin>
    </gazebo>
    -->
</robot>
