<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="IgnitionSystem" type="system">
        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>
        <joint name="LEFT_HINGE_JOINT">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
        <joint name="RIGHT_HINGE_JOINT">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
        <joint name="LEFT_REAR_WHEEL_JOINT">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="RIGHT_REAR_WHEEL_JOINT">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
    </ros2_control>

    <gazebo>
        <!-- Joint state publisher -->
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find ars_description)/config/ars_description.yaml</parameters>
        </plugin>
        <plugin
            filename="ignition-gazebo-imu-system"
            name="ignition::gazebo::systems::Imu">
        </plugin>
        <plugin
            filename="ignition-gazebo-sensors-system"
            name="ignition::gazebo::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>


    <!--        Sensors        -->

    <!-- IMU -->
    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <always_on>1</always_on>
            <update_rate>${imu_update_rate}</update_rate>
            <ignition_frame_id>imu_link</ignition_frame_id>
            <visualize>true</visualize>
            <topic>${imu_topic}</topic>
        </sensor>
    </gazebo>

    <gazebo reference="imu_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <!-- LIDAR -->
    <gazebo reference="lidar_link">
        <sensor name='gpu_lidar' type='gpu_lidar'>
            <topic>${lidar_topic}</topic>
            <update_rate>${lidar_update_rate}</update_rate>
            <alwaysOn>1</alwaysOn>
            <visualize>true</visualize>
            <ignition_frame_id>lidar_link</ignition_frame_id>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>640</samples>
                        <resolution>1</resolution>
                        <min_angle>-1.396263</min_angle>
                        <max_angle>1.396263</max_angle>
                    </horizontal>
                    <vertical>
                    <samples>1</samples>
                    <resolution>1</resolution>
                    <min_angle>0.0</min_angle>
                    <max_angle>0.0</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.08</min>
                    <max>10</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.001</stddev>
                </noise>
            </lidar>
        </sensor>
    </gazebo>

    <gazebo reference="lidar_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>



</robot>