<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="IgnitionSystem" type="system">
        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>
        <joint name="LEFT_HINGE_JOINT">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
        <joint name="RIGHT_HINGE_JOINT">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
        <joint name="LEFT_REAR_WHEEL_JOINT">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="RIGHT_REAR_WHEEL_JOINT">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find ars_description)/config/ars_description.yaml</parameters>
            <ros> 
                <namespace></namespace>
                <remapping>ackermann_steering_controller/reference_:=cmd_vel_stamped</remapping>
                <remapping>ackermann_steering_controller/odometry:=odom</remapping>
                <remapping>ackermann_steering_controller/tf_odometry:=tf</remapping> 
            </ros> 
        </plugin>
        <plugin
            filename="ignition-gazebo-imu-system"
            name="ignition::gazebo::systems::Imu">
        </plugin>
        <plugin
            filename="ignition-gazebo-sensors-system"
            name="ignition::gazebo::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>

</robot>